.banner-container-contato {
    width: 100%;
    height: 456px;
    position: relative;
}

.contato-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-contato{
    width: 424px;
}

.formulario {
    width: 100%;
    height: 552px;
}

.envelope-icon {
    width: 48px;
    height: 21.76px;
}

.titulo-envelope-icon{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.formulario-informacoes-contato {
    display: flex;
    justify-content: space-between;
}



.titulo-formulario{
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    border: none;
    
    padding: 10px 0;
}

input[type="email"] {
    border: none;
    
    padding: 10px 0;
}

select {
    border: none;
    
    padding: 10px 0;
}
.bloco-item-formulario{
    width: 340px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d7d7d7;
}

.bloco-textarea{
    width: 722px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d7d7d7;
}

.bloco-politica-button {
    display: flex;
    margin-top: 70px;
    margin-right: 20px;
}

.margin-botton {
    margin-bottom: 10px;
}

.par-de-dados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.radio{
    display: flex;

}

.margin-right{
    margin-right: 10px;
}

textarea {
    border: none;
    width: 748px;
    height: 100px;
    resize: none;

}

.link-politica{
    color: #a9a9a9;
    cursor: pointer;
}

.botao-formulario{
    width: 140px;
    height: 60px;
    background-color: #515070;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;   
    cursor: pointer;

}

.margin-top {
    margin-top: 20px;
}

.informacoes-contato{
    width: 441px;
    height: 552px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #515070, #7859a7);
    position: relative;
    padding-left: 35px;

}

.localizacao-icon {
    width: 18.77px;
    height: 29px;
    margin-right: 10px;
}

.telefone-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
}

.mensagem-icon {
    width: 34px;
    height: 15.41px;
    margin-right: 10px;
}

.bloco-informacao {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.informacao-content {
    width: 211px;
}

.bloco-todas-informacoes {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.img-banner-contato {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1000px){
    .banner-container-contato {
        height: 456px;
    }

    .texto-contato{
        width: 329px;
    }
}

@media (max-width: 1000px) {
    .formulario {
        height: 1416px;
    }

    .formulario-informacoes-contato {
        flex-direction: column;
        align-items: center;
    }

    .par-de-dados {
        flex-direction: column;
    }

    .bloco-textarea {
        width: 329px;
    }

    .titulo-envelope-icon {
        width: 329px;
    }

    textarea{
        width: 329px;
    }

    .informacoes-contato {
        width: 329px;
    }

    .bloco-item-formulario {
        margin: 20px 0;
    }
}